<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vp.FSPagerAdapterActivity"></activity>
        <activity android:name=".vp.FPageAdapter2Activity" />
        <activity android:name=".vp.FPageAdapter1Activity" />
        <activity android:name=".vp.SimpleAlterGetItemPositionActivity" />
        <activity android:name=".lifecycle.FragmentLifeDetachActivity" />
        <activity android:name=".vp.SimpleDemoActivity" />
        <activity android:name=".lifecycle.FragmentLifeShowActivity" />
        <activity android:name=".vp.VpAdapterRefresh" />
        <activity
            android:name=".sysui.MyFullScreenActivity"
            android:theme="@style/AppTheme.Full" />
        <activity
            android:name=".sysui.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity android:name=".lifecycle.FragmentVpStateActivity" />
        <activity android:name=".recyclerview.RcyMultiLayoutGridActivity" />
        <activity android:name=".recyclerview.RcyMultiLayoutOneActivity" />
        <activity android:name=".vp.VpAutoAcKttivity" />
        <activity android:name=".event.demo.EventDelivery6Activity" />
        <activity android:name=".event.demo.EventDelivery5Activity" />
        <activity android:name=".event.demo.EventDelivery4Activity" />
        <activity android:name=".event.demo.EventDelivery3Activity" />
        <activity android:name=".event.demo.EventDelivery2Activity" />
        <activity android:name=".event.demo.EventDelivery1Activity" />
        <activity android:name=".coor.ToolBarDemoActivity" />
        <activity android:name=".coor.ViewPagerDemoActivity" />
        <activity android:name=".coor.HangTopActivity" />
        <activity android:name=".lifecycle.FragmentLazyWithOffpageActivity" />
        <activity android:name=".lifecycle.VpOffscreenPageActivity" />
        <activity android:name=".view.GroupDemoActivity" />
        <activity android:name=".recyclerview.TreeContactActivity" />
        <activity android:name=".lifecycle.FragmentLazyActivity" />
        <activity android:name=".lifecycle.FgDialogActivity" />
        <activity android:name=".lifecycle.FragmentVpActivity" />
        <activity android:name=".lifecycle.FragmentLifeActivity" />
        <activity android:name=".vp.VpAutoActivity" />
        <activity android:name=".view.group.BottomNavDemoActivity" />
        <activity android:name=".recyclerview.ContactActivity" />
        <activity android:name=".event.DoubleStickActivity" />
        <activity android:name=".event.ShopDetailActivity" />
        <activity android:name=".event.TranStatusActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>